body{
    background: #efeee7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #333;
    margin: 0;
    padding: 0;
}

header{
    background: #333;
}

h1 {
    color: #eee;
    font-size: 28px;
    text-align: center;
    padding: 20px 0;
    margin:0;
    margin-bottom: 20px;
}

h2{
    font-size: 24px;
}

a {
    color: #d21034
}

.container {
    width: 1024px;
    margin: 0 auto;

}

#main-bio, #contact-info, #bio-image {
    float: left;
}

#bio-image {
    width: 200px;
    height:200px;
    margin-right: 20px;
}

#contact-info {
    width: 30%;
}

#main-bio {
    width:70%;   
}
